<div appShowBackDrop [show]="sidebarOpened">
  <app-assignment-status [totalCount] ="assignmentQuestions.length" [totalScore] = "totalScore"></app-assignment-status>
  <div [dragula]='"questions-bag"' [dragulaModel]='assignmentQuestions' class="container" id="assignment-container">
    <app-assignment-item *ngFor="let question of assignmentQuestions; let qIndex = index;" [questionData]="question" [questionIndex]="qIndex + 1"></app-assignment-item>
    <div id="instruction-text" *ngIf="!isElementOver">
      Drop Questions Here
    </div>
  </div>
</div>