<div class="assignment-item">
  <p><span class="bold" id="question-index">{{questionIndex}}. </span><span id="activity-name" class="bold">{{question.application}} Activity {{question.activity}}</span>: <span class="step-text">{{question.stepText}}</span></p>
  <p>Skills(2): <span *ngFor="let skill of question.skill">{{skill}}</span></p>
  <p><span class="text-primary">{{question.series}}</span> &gt; <span class="text-primary">Chapter {{question.chapter}}</span> | <span class="bold" id="score">Score: {{question.score}}</span></p>
</div>