<div class="preference-container">
  <p id="assignment-preferences">Assignment Preferences</p>
  <ul class="no-list-style" id="assignment-preferences-list">
    <li>
      <p>Attempts/ Timing</p>
      <ul class="no-list-style" id="attempts-timings">
        <li>
          <p>Number of Attempts</p>
          <ul class="no-list-style" id="number-of-attempts">
            <li>
              <p>
                <input type="radio" id="specify-number-of-attempts" name="number-of-attempts" />
                <label for="specify-number-of-attempts">Specify Number of Attempts</label>
              </p>
            </li>
            <li>
              <p>
                <input type="radio" id="Number-of-attempts-per-question" name="number-of-attempts" />
                <label for="Number-of-attempts-per-question">Number of attempts per question</label>
              </p>
            </li>
            <li>
              <p>
                <input type="radio" id="Number-of-attempts-is-Unlimited" name="number-of-attempts" />
                <label for="Number-of-attempts-is-Unlimited">Number of attempts is Unlimited</label>
              </p>
            </li>
          </ul>
        </li>
        <li>
          <p>Set time limit for activity</p>
          <ul class="no-list-style" id="time-limit">
            <li>
              <p>
                <input type="radio" id="Set-time-limit-for-activity" name="time-limit">
                <label for="Set-time-limit-for-activity">Set time limit for activity</label>
              </p>
            </li>
          </ul>
        </li>
      </ul>

    </li>
    <li>
      <p>Shuffling</p>
      <ul class="no-list-style" id="shuffling">
        <li>
          <p>
            <input id="Shuffle-question-within-application-group" type="checkbox" />
            <label for="Shuffle-question-within-application-group">
              Shuffle question within application group  
            </label>
          </p>
        </li>
        <li>
          <p>
            <input id="Shuffle-order-in-which-Applications-appear" type="checkbox" />
            <label for="Shuffle-order-in-which-Applications-appear">
              Shuffle order in which Applications appear
            </label>
          </p>
        </li>
        <li>
          <p>Display Performance-Based(Simulation) Questions</p>
        </li>
      </ul>
    </li>
    <li>
      <p>Feedback</p>
      <ul class="no-list-style" id="feedback">
        <li>
          <p>
            <input id="allow-clickstream" type="checkbox" />
            <label for="allow-clickstream">
            Allow student to view clickstream data when viewing student submission              
            </label>
          </p>
        </li>
        <li>
          <p>
            <input id="allow-method-identifying" type="checkbox" />
            <label for="allow-method-identifying">
            Allow student to view completion method when viewing student submission
            </label>
          </p>
        </li>
      </ul>
    </li>
    <li>
      <p>Others</p>
      <ul class="no-list-style" id="others">
        <li>
          <p>
            <input id="play-in-teraining-mode" type="checkbox"/>
            <label for="play-in-teraining-mode">
            Play in training mode
            </label>
          </p>
        </li>
        <li>
          <p>
            <input id="allow-save-for-later" type="checkbox"/>
            <label for="allow-save-for-later">
            Allow student to save for later
            </label>
          </p>
        </li>
      </ul>
    </li>
  </ul>


</div>